In [1]:
import json
import pandas as pd

In [2]:
with open('./evaluate - 복사본.json') as f:
    js = json.loads(f.read())

In [3]:
# js

In [4]:
js_test = js['evaluate']

In [5]:
# js_test?

In [6]:
first = js_test['base_zl_20_00001_tx_270152_ty_584774__from_1S_155-160RE']
first

{'01110200': {'label': '01110200',
  'tp_count': 0,
  'fp_count': 0,
  'fn_count': 5,
  'tp_iou_avg': 0,
  'fp_iou_avg': 0,
  'tp_iou_sum': 0,
  'fp_iou_sum': 0}}

In [7]:
second=first['01110200']

In [8]:
second

{'label': '01110200',
 'tp_count': 0,
 'fp_count': 0,
 'fn_count': 5,
 'tp_iou_avg': 0,
 'fp_iou_avg': 0,
 'tp_iou_sum': 0,
 'fp_iou_sum': 0}

In [9]:
column_name = [key for key in second]

In [10]:
column_name

['label',
 'tp_count',
 'fp_count',
 'fn_count',
 'tp_iou_avg',
 'fp_iou_avg',
 'tp_iou_sum',
 'fp_iou_sum']

In [11]:
value =[]
for i in column_name : 
    print(i)
    value.append(second[i])

label
tp_count
fp_count
fn_count
tp_iou_avg
fp_iou_avg
tp_iou_sum
fp_iou_sum

In [12]:
value

['01110200', 0, 0, 5, 0, 0, 0, 0]

In [13]:
#이미지 명 추출
keys = [key for key in js_test]

In [14]:
df_result = pd.DataFrame(columns=['label','tp_count','fp_count','fn_count','tp_iou_avg', 'fp_iou_avg', 'tp_iou_sum', 'fp_iou_sum'])

In [15]:
df_result

Empty DataFrame
Columns: [label, tp_count, fp_count, fn_count, tp_iou_avg, fp_iou_avg, tp_iou_sum, fp_iou_sum]
Index: []

In [16]:
#df로 변환
for a in keys:
    first_1=js_test[a]
    second_1=first_1['01110200']
    value=[]
    for i in column_name:
        value.append(second_1[i])
    df_result.loc[len(df_result)]= value

In [17]:
df_result.head()

,label,tp_count,fp_count,fn_count,tp_iou_avg,fp_iou_avg,tp_iou_sum,fp_iou_sum
0,01110200,0,0,5,0,0,0,0
1,01110200,0,0,6,0,0,0,0
2,01110200,0,0,1,0,0,0,0
3,01110200,0,0,1,0,0,0,0
4,01110200,1,0,1,0.827128,0,0.827128,0

In [155]:
df_result.to_excel('deeplabv3_again.xlsx',encoding='utf-8')